*{
  padding: 0;
  margin: 0;

}
body{
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

/* 1 ci section bashlayir */

.section_top_header{
  display: flex;
  margin: 0 140px;
  justify-content: space-between;
}
.section_top_header_body{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tkta_logo a{
  display: block;
}
.tkta_logo svg{
  margin-top: 34px;
  margin-bottom: 10px;
}
.top_header_logos_group{
  display: flex;
  margin-top: 25px;
}
.top_header_logo_eric_naric{
  width: 157px;
  height: 49px;
  margin-right: 15px;
}
.top_header_logo_eqar{
  width: 72px;
  height: 35px;
  margin-right: 15px;
}
.top_header_logo_enqa{
  width: 71px;
  height: 35px;
}

/* 1 ci section qurtarir */

/* 2 ci section bashlayir */
.section_main_header{
  padding: 0 140px;
  height: 40px;
  background-color:#EEEEEE ;
  
}
.main_header_body{
  display: flex;
}
.main_header_container--toggle-btn{
  width: 40px;
  height: 40px;
}
.fa-bars{
  background-color: #213858;
  color: #FFFFFF;
  padding: 12px;
}
.main_header_container--search-btn{
  width: 40px;
  height: 40px;
  margin-left: -2px;
}
.fa-search{
  background-color: #7A6426;
  color: #FFFFFF;
  padding: 12px;
}
.main_header_container--lang {
  display: flex;
  align-items: center;
}
.flag{
  padding: 12px;
  color: #323232;
}
.flag:last-child{
  padding-right: 0;
  padding-left: 0;
}
.main_header_container_navbar{
  display: flex;
  align-items: center;
  order: 3;
  margin-left: auto;
  text-transform: capitalize;
}
.main_header_container_navbar--item{
  padding-right: 33px;
  line-height: 16px;
  display: flex;
  flex-direction: row-reverse;
}
.main_header_container_navbar--item a{
  font-size: 13px;
  font-weight: bold;
  color: #323232;
  font-family: Segoe UI;
}
.content-icon {
  width: 0;
  margin-top: 4px;
  margin-left: 8px;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #555;
  border-bottom: 5px solid transparent;
}

/* 2ci section qutarir */


/* 3 cu section bashlayir */
.section_banner{
  padding-left: 140px;
  padding-right: 140px;
  position: relative;
  background-color:#EEEEEE ;
}
.section_banner_main_image {
  display: flex;
}
.section_banner_main_image img{
  width: 100%;
}
.section_banner_main_menu{
  position: absolute;
  border-radius: 50%;
  width: 522px;
  height: 280px;
  border-top-left-radius: 0;
  background-color: #D3D3D3;
  mix-blend-mode: darken;
  padding: 139px 42px;
  top: 0;
}
.section_banner_main_menu_nav_item{
  display: flex;
}
.section_banner_main_menu_nav_item b{
  padding: 8px 10px 0 0;
  color: #7A6426;
  font-size: 14pxe;
}
.section_banner_main_menu_nav_item h1{
  line-height: 35px;
  color: #082145;
  font-size: 26px;
}
.section_banner_dacument {
  border-radius: 50%;
  position: absolute;
  top: 0;
  padding: 85px;
  border-bottom-right-radius: 0;
  top: 248px;
  left: 819px;
  color: #323232;
  height: 200px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  mix-blend-mode: soft-light;
  width: 220px;
}
.section_banner_dacument_position_relative {
  position: relative;
}
.section_banner_body {
  position: absolute;
  position: absolute;
  width: 292px;
  top: 360px;
  right: 165px;
}
.section_banner_dacument_text {
  color: #323232;
  line-height: 27px;
  font-family: Tablet Gothic Condensed;
  font-size: 21px;
  padding-bottom: 32px;
}
.section_banner_dacument_text .quote{
  font-size: 60px;
  position: absolute;
  top: -20px;
}
.close-quote{
  font-size: 60px;
}
input#feedback {
  background-color: #EEEEEE;
  outline: none;
  font-size: 14px;
  line-height: 19px;
  border: none;
  padding: 5px 12px;
}
.section_banner_body_feedback button{
  font-size: 13px;
  position: absolute;
  bottom: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 14px;
  font-weight: bold;
  left: 171px;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 3px 8px;
  background-color: #3B6A3D;
}

/* 3cu section qurtarir */


/* 4 cu section BAshlayir */
.section_info_banner {
  background-color: #082145;
  padding: 25px 140px;
}
.section_info_banner_content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.section_info_banner_content_menu{
  display: flex;
}
.section_info_banner_content--head {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  font-family: Segoe UI;
}
.section_info_banner_content_menu--apply-btn {
  background-color: #3B6A3D;
  padding: 7px 52px;
  font-family: Segoe UI;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  margin-right: 17px;
  font-weight: bold;
  color: #FFFFFF;
}
.section_info_banner_content_menu--moreinfo-btn {
  background-color: #213858;
  padding: 7px 25px;
  color: #FFFFFF;
  line-height: 16px;
  margin-right: 17px;
  border-radius: 4px;
  font-size: 12px;
  font-family: Segoe UI;
}
.section_info_banner_content_menu--quetion {
  display: block;
}
.far.fa-question-circle {
  color: white;
  font-size: 27px;
}

/* 4 cu section qurtarir */

/* 5 ci section bashlayir */
.section_news{
  background-color: #F8F8F8;
}
.section_news_container{
  margin: 0px 140px;
}
.section_news_container_group_parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section_news_container_group_parent--item{
  background-color: #E6E6E6;
  margin: 20px;
  margin-left: 0;
  flex: 1 0 252px;
}
.section_news_container_group_parent--item:last-child{
  margin-right: 0px;
}
.news_item--empty-div{
  height: 10px;
  background-color: #082145;
}
.date{
  padding: 10px 0 20px 10px;

}
.date b{
  font-size: 14px;
  font-weight: bold;
  color: #082145;
}
.text{
  padding: 10px;
  color: #323232;
  line-height: 19px;
  font-size: 14px;
}
.news_footer{
  padding: 20px 30px;
  line-height: 16px;
  position: relative;
  font-size: 12px;
}
.news_footer a{
  color: #323232;
}
.footer-icon{
  width: 7px;
  height: 7px;
  display: inline-block;
  border-right: 1px solid #7A6426;
  border-bottom: 1px solid #7A6426;
  transform: rotate(-45deg);
  position: absolute;
  top: 23px;
  left: 7px;
}
.section_news_container_group_social{
  display: flex;
  align-items: center;
}
.news_social_empty{
  height: 6px;
  width: 334px;
  background-color: #0E2143;
}
.social_news{
  display: flex;
}
.all_news {
  margin-left: 58px;
  background-color: #FFFFFF;
  padding: 7px 41px;
  line-height: 16px;
  width: 64px;
  border-radius: 4px;
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 13px;
  color: #082145;
}
.social_media_menu {
  display: flex;
  align-items: center;
}
.social_media_menu_icon {
  border-radius: 4px;
  margin-left: 10px;
  font-size: 12px;
  background-color: white;
  padding: 8px 12px;
  color: #082145;
}
.social_media_menu_icon:last-child{
  margin-right: 58px;
}

/* 5 ci section qurtarir */

/* 6 ci section bashlayir */

.section_social_news {
  background-color: #F8F8F8;
}
.section_social_news_container_group{
  margin: 0px 140px;
}
.section_social_news_container_group_parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section_social_news_container_group_parent--item{
  margin: 20px;
  margin-left: 0;
  flex: 1 0 252px;
}
.section_social_news_container_group_parent--item:last-child{
  margin-right: 0px;
}
.time{
  padding: 0 0 9px 0;

}
.time p{
  font-size: 12px;
  font-family: Segoe UI;
  line-height: 16px;
  color: #888181;
}
.social_news_text b{
  padding: 0;
  color: #323232;
  line-height: 16px;
  font-family: Segoe UI;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}
.social_news_footer{
  padding: 15px 0;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.fa-twitter{
  font-size: 10px;
  border-radius: 50%;
  padding: 5px;
  background-color: #012266;
  color: white;
}
.social_news_footer a{
  color: #082145;
  font-size: 12px;
  margin-left: 8px;
  line-height: 16px;
}
.fa-facebook{
  font-size: 20px;
  border-radius: 50%;
  background-color: white;
  color: #012266;
}

/* 6 ci section qurtarir */

/* 7 ci section bashlayir */
.section_about{
  background-color: #EEEEEE;
}
.section_about_container{
  margin: 0 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_about_header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_about_header--head{
  color: #323232;
  font-size: 20px;
  line-height: 27px;
  padding-top: 27px;
  padding-bottom: 16px;
  font-family: Segoe UI;
}
.section_about_header--circle{
  width: 6px;
  height: 6px;
  background: #7A6426;
  border-radius: 50%
}
.section_about_header--text{
  width: 423px;
  height: 35px;
  padding-top: 11px;
  padding-bottom: 22px;
  text-align: center;
  color: #323232;
  font-size: 12px;
  line-height: 16px;
}
.section_about_body{
  display: flex;
}
.section_about_body_content{
  position: relative;
  background-color: #082145;
  color: #FFFFFF;
  width: 544px;
}
.section_about_body_content_flex{
  display: flex;
  align-items: center;
}
.section_about_body_content--text{
  padding-left: 31px;
  padding-top: 73px;
  padding-bottom: 64px;
  width: 289px;
}
.section_about_body_content--text p{
  padding: 10px 0;
  font-size: 12px;
  line-height: 16px;
  font-family: Segoe UI;
}
.section_about_body_content_bold-text{
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  font-family: Segoe UI;
}
.section_about_body_content_bold-text-quote{
  font-size: 60px;
  position: absolute;
  font-weight: bold;
  line-height: 67px;
  top: 32px;
}
.flex-direc-column {
  display: flex;
  flex-direction: column;
}
.section_about_body_content--menu-item{
  font-size: 12px;
  padding-left: 66px;
  position: relative;
  padding-top: 13px;
  line-height: 16px;
}
.section_about_body_content--menu-item a{
  color: #FFFFFF;
}
.menu-item-icon{
  width: 7px;
  height: 7px;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  transform: rotate(-45deg);
  position: absolute;
  top: 16px;
  left: 45px;
}
.section_about_footer{
  padding: 47px 0;
}
.section_about_footer_container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section_about_footer_container_item{
  display: flex;
  flex-direction: row;
  flex: 0 0 201px;
  align-items: center;
  padding-top: 10px;
}
.section_about_footer_container_item-icon{
  padding: 15px;
  background-color: #F8F8F8;
}
.section_about_footer_container_item-content{
  padding-left: 13px;
}
.section_about_footer_container_item-content-head{
  font-size: 40px;
  color: #7A6426;
  line-height: 54px;
  font-family: Segoe UI;
  font-weight: bold;
}
.section_about_footer_container_item-content-text{
  /* width: 89px; */
  font-size: 12px;
  padding-top: 8px;
  line-height: 16px;
  color: #323232;
}
/* 7 ci section qurtarir */

/* 8 ci section bashlayir */
.section_research{
  background-color: #F8F8F8;
}
.section_research_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 140px;
}
.section_research_container_item{
  flex: 0 0 247px;
  background-color: #EEEEEE;
  margin: 33px 0;
  margin-right: 26px;
}
.section_research_container_item:last-child{
  margin-right: 0;
}
.section_research_container_item--head {
  color: #4B4545;
  font-family: Segoe UI;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  padding-top: 11px;
  padding-left: 14px;
}
.section_research_container_item--link {
  padding-bottom: 8px;
  padding-top: 4px;
}
.section_research_container_item--link a{
  color: #8B7736;
  font-size: 12px;
  padding-top: 11px;
  padding-left: 14px;
  line-height: 16px;
  padding-bottom: 8px;
  font-family: Segoe UI;
}
/* 8 ci section qurtarir */


/* 9 cu section 4 section ile eyni idi */


/* 10 cu section(footer) bashlayir */

.section_footer {
  color: #FFFFFF;
  background: #213858;
  padding: 28px 0;
}
.section_footer_container{
  margin: 0 140px;
  display: flex;
  flex-wrap: wrap;
}
.section_footer_container_info_feedback{
  position: relative;
  padding-top: 29px;
  padding-bottom: 11px;
}
input#footer_feedback {
  background-color: #082145;
  outline: none;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  padding: 5px 12px;
}
.section_footer_container_info_feedback button{
  font-size: 13px;
  position: absolute;
  bottom: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 14px;
  font-weight: bold;
  left: 171px;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 3px 8px;
  background-color: #3B6A3D;
}
#footer_feedback{
  color: white;
}

.section_footer_container_info--contact {
  font-family: Segoe UI;
  font-size: 14px;
  line-height: 19px;
}
.section_footer_container_info--contact-link {
  color: #FFFFFF;
  font-family: Segoe UI;
  font-size: 14px;
  line-height: 19px;
  /* font-weight: revert; */
}
.section_footer_container_info--location {
  width: 250px;
  font-size: 14px;
  padding-top: 27px;
  line-height: 17px;
  font-family: Segoe UI;
}
.section_footer_container_social_menu {
  /* padding-top: 74px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 42px;
}
.flex{
  flex: 0 0 225px;
}
.section_footer_container_social_menu--item{
  position: relative;
  padding-bottom: 11px;
}
.section_footer_container_social_menu--item a{
  font-size: 12px;
  line-height: 16px;
  color: #F4F4F4;
  font-family: Segoe UI;
}
.footer-item-icon{
  width: 7px;
  height: 7px;
  display: inline-block;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  transform: rotate(-45deg);
  position: absolute;
  left: -20px;
  top: 5px;
}
.section_footer_container_logo--link svg {
  display: block;
  background-color: white;
  padding: 5px 8px;

}
.section_footer_container_end--sponsors {
  background-color: #FFFFFF;
  border-radius: 4px;
  display: flex;
}
.section_footer_container_end--sponsors a{
  display: block;
}

img.section_footer_container_end--sponsors_eric_naric {
  width: 109px;
  padding: 0 28px 0 16px;
}
img.section_footer_container_end--sponsors_eqar {
  width: 72px;
  padding-right: 28px;
}
img.section_footer_container_end--sponsors_enqa {
  width: 58px;
  padding-right: 13px;
}
.section_footer_container_end--copyright {
  padding-top: 23px;
  font-size: 12px;
  text-align: right;
  font-family: Segoe UI;
  color: #FFFFFF;
  line-height: 16px;
}
/* 10 cu section(footer) qurtarir */